<div class="flex-1 overflow-y-auto px-4 sm:px-6">
  <div class="flex">
    <div class="flex-1 text-lg font-normal justify-center">
      <p class="w-full text-center">Order #20539</p>
      <p class="w-full text-center">
        {{ todayDate | date : "short" }}
      </p>
    </div>
  </div>
  <div class="my-6 flex justify-center">
    <a
      href="#"
      class="flex items-center justify-center rounded-full border-2 border-green-600 bg-white px-6 py-3 text-base font-normal text-green-600 shadow-sm hover:text-green-700 w-fit text-center"
      >invite more guests</a
    >
  </div>
</div>
